/* Resetando margens padrão do navegador */
* {
    margin: 0;
    padding: 0;
}

/* Se for pra deixar preparado para um navegador que NÃO aceita
 o ":has()", alterar o "#light" para ".light" e assim por diante,
 pois o código javascript se encarregará de fazer as transições.
 */
#light,
:root {
    --bg-color: white;
    --text-color: #121214;
}

#dark,
:root:has(#dark:checked) {
    --bg-color: #121214;
    --text-color: white;
}

#blue,
:root:has(#blue:checked) {
    --bg-color: #d6d6ff;
    --text-color: rgb(1,79,121);
}

#green,
:root:has(#green:checked) {
    --bg-color: #e8fff5;
    --text-color: rgb(0,85,41);
}

body {
    font-family: sans-serif;
    background-color: var(--bg-color);
    color: var(--text-color);
}

article {
    width: 30rem;

    /* Dessa maneira, serão inserdos espaços laterais distribuídos 
    igualmente. Caso o desejo sejam espaçamentos em mais direções, 
    incluir mais parâmetros, onde: 1o-top, 2o-right, 3o-bottom, 4o-left */
    margin: 2rem auto;
}

article p {
    opacity: 0.7;
}

ul {
    list-style: none;
    display: flex;
    gap: 1rem;

    background-color: white;
    box-shadow: 0 0 1rem rgb(0 0 0 / 0.5);

    padding: 1rem;
    border-radius: 8px;

    position: fixed;
    bottom: 1rem;
    left: 50%;
    transform: translateX(-50%);
}

input[type="radio"] {
    appearance: none;
    border: 2px solid var(--input-color);
    width: 1rem;
    height: 1rem;
    border-radius: 50%;
}

input[type="radio"]:checked {
    background-color: var(--input-color);
}

#dark {
    --input-color: black;
}

#light {
    --input-color: gray;
}

#blue {
    --input-color: blue;
}

#green {
    --input-color: green;
}